.link1 {
  color: white;
  font-family: "Brush Script MT", cursive;
  font-style: oblique;
  font-size: 200%;
}
.link1 span{
  background-color: tomato;
}
.link2 {
  color: white;
  font-family: "Brush Script MT", cursive;
  font-style: oblique;
  font-size: 200%;
  float:right;
}
.link2 span{
  background-color: tomato;
}

.bodyContent{
  color: white;
}
