.link_about_about {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
}
.link_about_about span {
  background-color: tomato;
}
.link_about_stats {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
}
.link_about_stats span {
  background-color: tomato;
}
.link_github {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
}

.link_github span:link, .link_github span:hover, .link_github span:hover {
  color: white;
}

.name {
  font-family: verdana;
  font-size: 40;
}
