p {
    color: red;

}

a {
    color: black;
}

.logo {
    color: white;
    font-family: verdana;
    font-style: oblique;
    font-size: 200%;
    background-color: tomato;
}

.logo span{
  background-color: tomato;
}

a:link {
    text-decoration: none;
    color: white;
}

body {
    background-size: 100%
}

.login {
    color: white;
    font-family: verdana;
    font-style: oblique;
    font-size: 200%;
    float:right;
}

.login span{
  background-color: tomato;
}
