p1 {
    color: white;

}

a {
    color: black;
}

.logo {
    color: white;
    font-family: verdana;
    font-style: oblique;
    font-size: 200%;
    background-color: tomato;
}

.logo span{
  background-color: tomato;
}

a:link {
    text-decoration: none;
    color: white;
}

body {
    background-size: 100%
}

.login {
    color: white;
    font-family: verdana;
    font-style: oblique;
    font-size: 200%;
    float:right;
}

.login span{
  background-color: tomato;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
