.link1 {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
}
.link1 span{
  background-color: tomato;
}
.link2 {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
  float:right;
}

.link2 span{
  background-color: tomato;
}

.bodyContent{
  color: white;
}

.link_stats_stats {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
}

.link_stats_stats span{
  background-color: tomato;
}

.link_stats_about {
  color: white;
  font-family: verdana;
  font-style: oblique;
  font-size: 200%;
}

.link_stats_about span{
  background-color: tomato;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.dest {
  font-family: verdana;
  font-size: 20;
  margin: auto;
  width: 60%;
}

.serv {
  font-family: verdana;
  font-size: 20;
  margin: auto;
  width: 8%;
}

.h2 {
  font-size: 20;
}

.h3 {
  font-size: 20;
}
